$scroll-margin: 4rem;

@for $i from 1 through 6 {
	h#{$i} {
		scroll-margin-top: $scroll-margin;
	}
}

a[data-footnote-ref] {
	scroll-margin-top: $scroll-margin;

	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
}

li[id^="user-content-fn"] {
	scroll-margin-top: $scroll-margin;
}

img,
video {
	max-width: 100%;
}

.ratio {
	aspect-ratio: var(--ratio, calc(16 / 9));
}

.media-frame {
	border: 1px solid #495057;
	border-radius: 0.25rem;

	html.light & {
		border-color: #ced4da;
	}

	iframe:is(&) {
		width: 100%;
	}
}