<footer class="border-top">
    <section class="container  py-3">
        <section class="row">
            <section class="col-6">
                <p class="mb-1 small">Jl. Asrama Palad, Cibinong</p>
                <p class="mb-1 small">Bogor, West Java</p>
                <p class="mb-0 small">Indonesia - ID</p>
            </section>
            <section class="col-6 text-right">
                <nav>
                    <ul class="mb-3 list-unstyled">
                        {% for link in site.data.links.list %}
                            <li class="small">
                                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </section>
            <section class="col-6 align-self-end">
                <nav>
                    <ul class="m-0 list-inline">
                        <li class="list-inline-item small">
                            <h6 class="mb-0">Built With</h6>
                        </li>
                        <li class="list-inline-item small"><a href="//getbootstrap.com" rel="noreferrer" target="_blank" title="Bootstrap">Bootstrap</a></li>
                        <li class='list-inline-item small'><a href='//icons8.com' rel='noreferrer' target='_blank' title='Icons8'>Icons8</a></li>
                    </ul>
                </nav>
            </section>
            <section class="col-6 text-right">
                <p class="mb-1 small">{{ site.phone_number }}</p>
                <p class="mb-0 small text-word-break-all">{{ site.email }}</p>
            </section>
        </section>
    </section>
</footer>