<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
    href="//fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&family=Syncopate:wght@400;700&display=swap">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />

  <!--
        # Author     : Anas RAR
        # Email      : mynameanasrar@gmail.com
        # LICENSE    : MIT
  -->

  {% if page.title %}<title>{{ page.title }} | {{ site.title }}</title>{% else %}<title>{{ site.title }} |
    {{ site.description }}</title>{% endif %}

  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />

  {% seo title=false %}

</head>