<header class="border-bottom">
    <section class="container py-3">
        <section class="row">
            <section class="col-12 d-flex flex-row align-items-center">
                
                <section class="flex-grow-1">
                    <h1 class="mb-0 mb-md-2">{{ site.title }}</h1>
                    <h2 class="h5 m-0 d-none d-md-block">{{ site.description }}</h2>
                </section>
                <section class="dropdown d-md-none">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-dark btn-sm dropdown-toggle" data-offset="0,4"
                        data-toggle="dropdown" id="dropdownMenu" type="button">Menu</button>
                    <section aria-labelledby="dropdownMenu" class="dropdown-menu dropdown-menu-right" id="navMobile">
                        {% for link in site.data.links.list %}
                            <a class="dropdown-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        {% endfor %}
                    </section>
                </section>
                <nav class="d-none d-md-block offset-right-md-1" id="navDefault">
                    <ul class="m-0 list-inline">
                        {% for link in site.data.links.list %}
                            <li class="list-inline-item">
                                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

            </section>
        </section>
    </section>
</header>