/*

Variable Font

*/

@font-face {
	font-family: "Inter Custom";
	src: url("./InterV.var.ttf");
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter Custom";
	src: url("./InterV-Italic.var.ttf");
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
}

/*

SCSS

@for $i from 4 through 7 {
    @font-face {
        font-family: "Inter Custom";
        src: url("./Inter-#{$i}00.ttf");
        font-weight: $i * 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Inter Custom";
        src: url("./Inter-Italic-#{$i}00.ttf");
        font-weight: $i * 100;
        font-style: italic;
        font-display: swap;
    }
}

*/

/*

CSS

@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-400.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-Italic-400.ttf");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-500.ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-Italic-500.ttf");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-600.ttf");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-Italic-600.ttf");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-700.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter Custom";
	src: url("./Inter-Italic-700.ttf");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

*/
