---
---


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url('../images/bg.webp') repeat center, #0c1032;
    max-width: 55rem;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

main {
    color: #6ffcff;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px #ed26d6;
}

aside>nav>ul>li {
    display: block;
    list-style: none;
    font-size: 6rem;
    font-family: 'Major Mono Display', monospace;
    color: #f8d601;
    text-shadow: 2px 2px #9e40ff;
}

aside>nav>ul>li:hover {
    text-shadow: 4px 4px #9e40ff;
}

aside>nav>ul>li:nth-child(even) {
    color: #ed26d6;
    text-shadow: 2px 2px #6ffcff;
}

aside>nav>ul>li:hover:nth-child(even) {
    text-shadow: 4px 4px #6ffcff;
}


#main {
    text-align: center;
}

#name {
    color: #f8d601;
    font-size: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    text-shadow: 3px 3px #9e40ff;
}

#social {
    margin: 1.5rem 0;
}

#social>ul{
    line-height: 0;
}

#social>ul>li {
    line-height: 0;
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

#social>ul>li>a>svg {
    color: #f5e8ff;
    filter: drop-shadow(1px 1px #ed26d6)
}

#social>ul>li>a:hover>svg {
    color: #f8d601;
    filter: drop-shadow(2px 2px #9e40ff)
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0 0.5rem;
        flex-direction: column;
        justify-content: center;
    }

    main {
        font-size: 1.25rem;
    }

    aside>nav>ul>li {
        text-align: center;
    }

    #name {
        font-size: 5rem;
    }

    aside>nav>ul>li {
        font-size: 4.5rem;
    }
}

#player {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    background: #f8d601;
    padding: 0.5rem;
    margin: 0 auto 1rem;
    box-shadow: 3px 3px #9e40ff;
    text-align: left;
    header {
        display: block;
        text-align: center;
        font-size: 0.75rem;
        color: black;
        text-shadow: none;
        font-weight: 700;
    }
    #control {
        line-height: 0;
        color: black;
        user-select: none;
        .btnControl {
            cursor: pointer;
        }
    }
}