@font-face {
	font-family: "NeutralFace";
	src: url("../fonts/NeutralFace.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeutralFace";
	src: url("../fonts/NeutralFace-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
