@font-face {
	font-family: "Fungis";
	src: url("../fonts/FUNGIS Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fungis";
	src: url("../fonts/FUNGIS Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Fungis";
	src: url("../fonts/FUNGIS Heavy.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
